/*====== Danger Theme ======*/
body.theme-danger.dark-mode
{
  .rct-block-title
  {
    background-image: linear-gradient(45deg, $danger 0%, #842d73 180%);
    border-radius: 5px 5px 0px 0px;
  }
}


body.theme-danger {

  .RRT__tab{
    background: $danger !important;
    color: $white;
  }
  .RRT__tab--selected{
    background: $light-danger !important;
    }


   .text-primary,
   .dropdown-foot a,
   .faq-page-wrapper .panel-heading h4 {
      color: $danger !important;
   }

   .ReactTable
   {
     a,.rt-thead .rt-tr,
     .-pagination select,  .-pagination .-center, .-pagination input
     {
       color: $danger;
     }
     .-pagination .-btn,
     {
       color : $danger;
     }
     .-pagination .-btn:not([disabled]):hover
     {
       background : $danger;
       opacity: 0.8
     }
    }

    .btn-outline-default {
    @include border(1px solid, $danger, top bottom left right);
    color: $danger;
    }

   .rct-dropdown .dropdown-menu .rct-scroll ul li a:hover,
   .humburger,
   .search-icon::before,
   .Select-placeholder,
   .Select-arrow-zone,
   .header-icon,
   .navbar-right > li > a > button,
   .navbar-right > li > button,
   .dropdown-group-link,
   .search-icon-btn {
      color: $white !important;
   }

   .badge-primary,
   .bg-primary,
   .btn-primary,{
      *{
         color: $white !important;
      }
   }

   .app-header .rct-header,
   {
     background-image:  linear-gradient(45deg, $danger 0%, #842d73 180%);
   }

   .badge-primary,
   .bg-primary,
   .chat-body .chat-bubble.odd,
   .rct-dropdown .dropdown-menu ul li a:hover,
   .fixed-plugin,
   header .dropdown-group-link,
   figure.img-wrapper::after,
   .rct-sidebar .site-logo,
    {
	     background: $danger!important;
    }
   .btn-primary,
   .rct-dropdown .dropdown-group-link,
   .feed-content,
   .rbc-event{
      border-color: $danger !important;
   }

	.rbc-event {
		color: $danger;
	}

   .quicklink-wrapper .dropdown-menu:after,
   .quicklink-wrapper .dropdown-menu:before,
   .sidebar-user-block .rct-dropdown.show .dropdown-menu:before,
   .sidebar-user-block .rct-dropdown.show .dropdown-menu:after{
      border-bottom-color:$danger !important;
   }

   .header-icon:hover,
   .header-icon:focus{
      border-color: $white !important;
   }
   //Color Switching

   .text-danger {
      color: $primary !important;
   }
   .badge-danger,.bg-danger {
      background: $primary !important;
   }
   .btn-danger{
      border-color: $primary !important;
   }
   .linked-5,.linked-10, .linked-15, .linked-20
   {
     border-right: 12px $primary solid;
   }
   .timer-stroke-color
   {
     stroke : $danger;
   }
   .timer-bg-color
   {
    fill : $danger;
   }
   .timer-text-color
   {
    fill : $danger;
   }
   .bg-grdnt-violet  {
     background-image:  linear-gradient(85deg, $danger 0%, #842d73 180%) ;

   }


   .btn-danger
   {
     background-image: linear-gradient(45deg, #b65eba 0%, $primary  180%) ;
   }


}
