
.dropzone
{
  position: relative;

  min-height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;


      align-items: center;
      border-radius: 2px;
      transition: border .24s ease-in-out;
}
