/*====== Dark Layout Style Here ======*/
body.light-mode {
  color:  $dark-bg;
  background-image: $dark-layout-bg;
}
.light-mode {

  .input-group-text
  {
    color: $dark-bg-container !important;
  }

   .rbc-now
   {
     a
     {
        color: $dark-bg-container !important;
     }
   }
   a.rbc-show-more
   {
     color: $dark-bg-container !important;
   }
   div.rbc-overlay-header
   {
     color: $dark-bg-container !important;
   }


  background-color: $dark-bg-container;
  .sidebar-color ,.fixed-plugin .sidebar-overlay{
    display: none;
  }
  .loader-overlay  {
    background-color: rgba(0,0,0,0.8);
  }
  .timer-overlay  {
    background-color: rgba(0,0,0,0.4);
  }
  .timer-value
  {
    color : $white;
  }
  .horizontal-menu li:hover >a,.horizontal-menu .sub-menu li:hover >a,.horizontal-menu .sub-menu li .sub-menu-child li:hover >a,.table-hover tbody tr:hover,.quicklink-list,.sidebar-user-block .rct-dropdown .dropdown-menu ul{
    background-color: rgba(0,0,0,0.2) !important;
  }


  .rct-dropdown .dropdown-menu .rct-scroll ul li a:hover,
  .humburger,
  .search-icon::before,
  .Select-placeholder,
  .Select-arrow-zone,
  .header-icon,
  .navbar-right > li > a > button,
  .navbar-right > li > button,
  .dropdown-group-link,
  .search-icon-btn {
     color: $white !important;
  }

  .rct-block, .social-card, .card, .panel, .rct-tabs header, .pricing-box, .chat-bubble.even, .task-detail-top, .btn-light i {
    background-color:$white;
    color:  $dark-bg;
    border-color: $white ;
  }
  .quicklink-wrapper .header-icon,.search-icon .search-wrapper .search-input-lg{
    border-color: $dark-bg-color !important;
  }
  .rct-block *, input:not(.input-search), textarea, .modal-header, .modal-footer, .report-status *, .report-status,
  .rct-mail-wrapper *, .todo-wrapper *, .chat-wrapper *, .dropdown *, .chat-head {
    border-color: $dark-border-color !important;
  }
  .timer-text-color
  {
   fill : $dark-bg-color !important;
  }


  .slick-dots-top  li.slick-active button:before
  {
    color: $black !important;
  }

  .slick-dots-top li button:before
  {
    color: $dark-bg !important;
  }

  .bg-grdnt-violet {
    background-image: linear-gradient(0deg, #F4F7FA 54%, #F4F7FA 100%) !important;

    .page-title h2, .breadcrumb-item.active{
        color: $dark-bg !important;
    }
	
	.page-title a, .breadcrumb-item.active{
        color: $black !important;
    }
  }
  .autocomplete-dropdown-container
  {
      .suggestion-item{
      background-color: $white !important;
      }
  }
}
